
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

ul,ol{    

    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;  /*  ortaladı bütün imgeleri */
}



/*! base end  */

/*! header start  */

header {
  border-bottom: 1px solid #ee04ee;   /* alt çizgileri oluşturdum ki header net anlaşılsın */

  position: relative;

}

.global-notification {
  background-color:  #ffc4d8  ;
  padding: 14px 0;
  text-align: center; 
  font-size: 12px;      
  color: grey;
}

.global-notification a {
  color: grey;
  font-weight: 600;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px;  /* centerdaki öğlerin arasını açmak için kullanılan etiket*/
  align-items: center; /* dikeyde hizaladım*/
}

.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
}






.header-center .menu-list .menu-link::after {    
    content: "";
    width: 0;
    height: 1px;
    background-color: #ef13dd;        /*  centerdaki öğelerin üstüne gelindiğinde alt çzigileri oluşturdum */
    position: absolute;  /* öğenin sayfa üzerindeki net konumunu belirtir */
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease width;
}

.header-center .menu-list .menu-link:hover::after {   /*  after kutunun altına çizik eklemek için kullanılır */
    width: 100%; /* Hover durumunda genişliği tam olarak ayarlar */
}

   
  
  .header-center .menu-list .menu-link.active::after {
    width: 100%;



}






.header-center .menu-list i {
    font-size: 12px;

  } 

  .header-right .header-right-links{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.header-right .bi-person{
    font-size: 23px;
}

.header-right .toggle-button{
    border: none;
    background-color: transparent;
}

.header-right  i{
    font-size: 18px;
    display: flex;
}

.header-right .header-cart{
    position: relative;
}

.header-right .header-cart-link  .header-cart-count{
    width: 20px;
    height: 20px;
    background-color: hsl(309, 85%, 37%);
    color: rgb(246, 7, 214);
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

/*? menu dropdown start  */
header .menu-dropdown-wrapper{
    position: absolute;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

header .menu-dropdown-content{
    width: 220px;
    background-color: #f504f1;
    border: 1px solid #ed0ce2;
    display: flex;
    flex-direction: column;
    padding: 18px 0;
}

header .menu-dropdown-content a{
    display: flex;
    padding: 4px 30px;
    font-size: 14px;
    transition: color .2s ease;
}

header .menu-dropdown-content a:hover{
   color: #f107ce;
}

.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
    opacity: 1;
    visibility: visible;
  }
/*? menu dropdown end  */
header .menu-dropdown-wrapper {
    position: absolute;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  
  header .menu-dropdown-content {
    width: 220px;
    background-color: rgb(235, 8, 251);
    border: 1px solid#e61cfc;
    display: flex;
    flex-direction: column;
    padding: 18px 0;
  }
  
  header .menu-dropdown-content a {
    display: flex;
    padding: 4px 30px;
    font-size: 14px;
    transition: color 0.2s ease;
  }
  
  header .menu-dropdown-content a:hover {
    color: #f627f6;
  }
  
  .header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
    opacity: 1;
    visibility: visible;
  }
  
  .menu-dropdown-megamenu{
    background-color: rgb(235, 8, 251);
    border: 1px solid #e61cfc;
    padding: 22px;
    display: flex;
    column-gap: 50px;
  }
  
  .megamenu-wrapper .menu-dropdown-wrapper{
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  
  }
  
  .megamenu-wrapper{
    position: static !important;
  }
  
  .megamenu-wrapper .megamenu-links{
    display: flex;
    column-gap: 50px;
  }
  
  .megamenu-wrapper .megamenu-products-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .megamenu-wrapper .megamenu-menu-list{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
  
  
  .megamenu-wrapper .megamenu-menu-list a{
    font-size: 14px;
  }
  
  .megamenu-wrapper .megamenu-single-title{
    font-size: 18px;
    font-weight: 500;
  }
  
  .megamenu-wrapper .megamenu-single-subtitle{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .megamenu-wrapper .megamenu-single-button{
    margin-top: 5px;
  }
  
  
  
  
  /*? menu dropdown end  */
  

  
    
    
    







    











 

























